
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float:right;
    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
   
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  #About{
      display: flex;
      padding:100px 350px;
  }
  .Details{
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .Picture{
    padding-left: 200px;
    padding-right: 100px;
  }
  #hello{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 10px; 
    color: #363958;
  }
  #pInfo{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color : brown;
  }
  .Picture img{
      width: 465px;
      height: 613px;
  }
  .button{
    width: 170px;
    height: 60px;
    left: 135px;
    top: 442px;
    background-color:salmon;
    border-radius: 5px;
    border:none;
    font-size: 20px;
  }
  .button:hover {
    background-color: blueviolet; /* Green */
    color: white;
  }

  
  